html {
	background-color: lightgrey;
}
#left {
	float: left;
}
#logo {
	padding-top: 10px;
	background-color: white;
	padding: 10px;
}
#logo img {
	max-height: 175px;
	padding-left: 40px
}
#nav ul {
	list-style-type: none;
}
#nav a {
	color: green;
	text-decoration: none;
}
#nav a:hover {
	color: red;
}
#products {
	background: linear-gradient(green, lightgreen);
	margin-left: 305px;
	padding: 20px;
}
#products img {

	max-width: 200px;
	max-height: 200px;
	float: right;
	padding: 10px;
}
